hbox {
	/*border: 1px solid;*/
}

hbox.prefBox {
	height: 500px;
}

vbox {
	/*border: 1px red solid;*/
}

#CH_status_img {
    list-style-image: url("chrome://changeHosts/skin/images/icon20.png");
}

image.testImgQuestion {
    list-style-image: url("chrome://changeHosts/skin/images/testIcons.png");
    -moz-image-region: rect(0px, 20px, 20px, 0px);
    width: 20px;
    max-height: 20px;
}

image.testImgOK {
    list-style-image: url("chrome://changeHosts/skin/images/testIcons.png");
    -moz-image-region: rect(0px, 40px, 20px, 20px);
    width: 20px;
    max-height: 20px;
}

image.testImgFail {
    list-style-image: url("chrome://changeHosts/skin/images/testIcons.png");
    -moz-image-region: rect(0px, 60px, 20px, 40px);
    max-width: 20px;
    max-height: 20px;
}

radio[pane = prefpane_general] {
    list-style-image: url("chrome://changeHosts/skin/images/settings32.png");
}

radio[pane = prefpane_definitions] {
	list-style-image: url("chrome://changeHosts/skin/images/icon32.png");
}

radio[pane = prefpane_about] {
	list-style-image: url("chrome://changeHosts/skin/images/question32.png");
}

caption {
	font-weight: bold;
}

vbox.configVBox, 
vbox.secondConfigVBox {
    width: 400px;
}

textbox {
	width: 380px;
}

listbox {
	height: 382px;
	width: 160px; 
}

.legendBox {
	width: 65px;
}

hbox.imgBox {
	margin-left: 5px;
}

#codersLogo {
	background: #F8C74B;
	height: 50px;
}

image.codersLogo {
	list-style-image: url("chrome://changeHosts/skin/images/codersLogo.gif");
	max-width: 215px;
    max-height: 52px;
}

hbox.runTest {
    
}
