#CH_status_img {
    list-style-image: url("chrome://changeHosts/skin/icon20.png");
}

image.testImgQuestion {
    list-style-image: url("chrome://changeHosts/skin/testIcons.png");
    -moz-image-region: rect(0px, 20px, 20px, 0px);
    width: 20px;
    max-height: 20px;
}

image.testImgOK {
    list-style-image: url("chrome://changeHosts/skin/testIcons.png");
    -moz-image-region: rect(0px, 40px, 20px, 20px);
    width: 20px;
    max-height: 20px;
}

image.testImgFail {
    list-style-image: url("chrome://changeHosts/skin/testIcons.png");
    -moz-image-region: rect(0px, 60px, 20px, 40px);
    max-width: 20px;
    max-height: 20px;
}

radio[pane = prefpane_general] {
    list-style-image: url("chrome://browser/skin/preferences/Options.png");
    -moz-image-region: rect(0px, 224px, 32px, 192px);
}

radio[pane = prefpane_definitions] {
    list-style-image: url("chrome://browser/skin/preferences/Options.png");
    -moz-image-region: rect(0px, 64px, 32px, 32px);
}

groupbox {
    /*border: 1px solid;*/
}

caption {
	font-weight: bold;
}

vbox.configVBox {
    width: 34.3em;
	/*border: 1px solid;*/
}

vbox.secondConfigVBox {
    /*margin-left: 4em;*/
	/*padding-left: 4.8em;*/
	border-left: 1px #CCC solid;
	border-left-style: dashed;
}
