#changeHosts_statusbar_panel_img {
  list-style-image: url("chrome://changeHosts/skin/icon20.png");
}

.definitionContent {
	width: 200px;
}

.testImgQuestion {
	list-style-image: url("chrome://changeHosts/skin/testIcons.png");
	-moz-image-region: rect(0px, 20px, 20px, 0px);
	max-width: 20px;
	max-height: 20px;
	margin-left: 20px;
}

.testImgOK {
	list-style-image: url("chrome://changeHosts/skin/testIcons.png");
	-moz-image-region: rect(0px, 40px, 20px, 20px); 
	max-width: 20px;
	max-height: 20px;
	margin-left: 20px;
}

.testImgFail {
	list-style-image: url("chrome://changeHosts/skin/testIcons.png");
	-moz-image-region: rect(0px, 60px, 20px, 40px);
	max-width: 20px;
	max-height: 20px;
	margin-left: 20px;
}


radio[pane=prefpane_general]
{
    list-style-image: url("chrome://browser/skin/preferences/Options.png");
    -moz-image-region: rect(0px, 224px, 32px, 192px);
}

radio[pane=prefpane_definitions]
{
    list-style-image: url("chrome://browser/skin/preferences/Options.png");
    -moz-image-region: rect(0px, 64px,  32px, 32px);
}

.borderUp5 {
	margin-top: 5px;
}

.borderDown5 {
	margin-bottom: 5px;
}